:root {
  --theme-color: #24292e;
  --highlight-color: #fff;
  --article-caption-color: #24292e;
  --text-color: #4a4a4a;
}
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 100px;
}
@media screen and (min-width: 1367px) {
  html {
    font-size: 108.34px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1280px) {
  html {
    font-size: 91.67px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) {
  html {
    font-size: 83.34px;
  }
}
@media screen and (max-width: 768px) {
  body.close .sidebar-toggle {
    padding: 0.1rem;
    background: transparent;
  }
}
.app-nav li ul li {
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  .app-nav {
    margin-top: 0;
  }
  .app-nav li {
    margin: 0;
  }
}
.sidebar ul li a {
  font-size: 0.14rem;
}
.sidebar {
  background: #f5f7f9;
}
.sidebar>h1 {
  margin: 0 auto 0.16rem;
  font-size: 0.16rem;
}
.sidebar-nav .app-sub-sidebar li::before {
  display: none;
}
.sidebar-nav > ul > li > a {
  font-size: 0.14rem;
  font-weight: 700;
}
.sidebar-toggle {
  width: 0.38rem !important;
  height: 0.38rem !important;
  padding: 0.1rem;
  background-color: #f5f7f9;
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
}
.sidebar-toggle span {
  background-color: #6c9ef5;
}
.search {
  margin-top: 0.38rem;
  padding: 0 6px !important;
}
.app-name .app-name-link {
  display: inline-block;
  max-width: 1rem;
}
.search input:focus {
  box-shadow: none !important;
}
.markdown-section {
  max-width: 11.4rem;
  margin: 0;
  padding: 0.32rem 0.54rem;
}
@media screen and (max-width: 1000px) {
  .markdown-section {
    padding: 0.3rem 0.15rem 0.4rem;
  }
}
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  word-spacing: 0;
}
.markdown-section ol,
.markdown-section ul {
  padding-left: 0.4rem;
  line-height: 0.24rem;
}
.sidebar-toggle:hover .sidebar-toggle-button {
  opacity: 1;
}
.markdown-section h1 {
  font-size: 0.32rem;
  margin-bottom: 0.16rem;
  padding-bottom: 0.1rem;
}
.markdown-section h2 {
  font-size: 0.24rem;
}
.markdown-section h3 {
  font-size: 0.2rem;
}
.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
  text-decoration: none;
}
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-size: 0.18rem;
}
.markdown-section h2,
.markdown-section h3 {
  margin: 0.4rem 0 0.16rem 0;
}
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin: 0.12rem 0 0.08rem 0;
}
.markdown-section p {
  font-size: 0.16rem;
  margin-bottom: 0.16rem;
  line-height: 1.5;
}
.markdown-section img {
  max-width: 100%;
}
.markdown-section table {
  margin-bottom: 0.16rem;
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-section table tr {
  vertical-align: inherit;
  border-color: inherit;
}
.markdown-section table tr td,
.markdown-section table tr th {
  font-size: 0.16rem;
  line-height: 0.24rem;
  padding: 0.06rem 0.2rem;
}
.markdown-section table tr th {
  height: 0.4rem;
}
.markdown-section table tr td {
  height: 0.4rem;
}
.markdown-section code {
  padding: 0.03rem 0.06rem;
  margin: 0;
  border-radius: 0.03rem;
  line-height: 0.2rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.markdown-section>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
  font-size: 0.14rem;
}
.markdown-section pre {
  padding: 0.16rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 0.03rem;
}
.markdown-section pre:after {
  font-size: 0.12rem;
}
.markdown-section pre:before {
  font-size: 0.12rem;
}
.markdown-section pre code {
  border-radius: 0.03rem;
  word-break: normal;
  white-space: pre;
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  border: 0;
  font-size: 0.14rem;
  line-height: 0.2rem;
}
.markdown-section ul {
  font-size: 0.16rem;
  padding-left: 0.2rem;
  margin-block-start: 0.16rem;
  margin-block-end: 0.16rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0.4rem;
  margin-top: 0;
  margin-bottom: 0.16rem;
}
.markdown-section ul li {
  list-style-type: disc;
  line-height: 0.24rem;
  margin-top: 0.02rem;
}
.markdown-section ul li:first-of-type {
  margin-top: 0;
}
.markdown-section ol {
  font-size: 0.16rem;
}
.markdown-section ol li {
  list-style: decimal;
  line-height: 0.24rem;
}
.markdown-section ol li:not(:first-of-type) {
  margin-top: 0.02rem;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6,
.markdown-section p,
.markdown-section table,
.markdown-section ul,
.markdown-section li,
.markdown-section code {
  color: var(--article-caption-color);
}
.markdown-section h1 {
  border-bottom: 1px solid #eaecef;
}
.markdown-section blockquote {
  border-left: 0.02rem solid #7984a1;
  color: var(--text-color);
}
.markdown-section a {
  color: #24292e !important;
  text-decoration: underline;
}
.markdown-section a:hover {
  color: #000 !important;
}
.markdown-section table tbody tr:nth-of-type(even) {
  background: #f5f7f9 !important;
}
.markdown-section table tr {
  background: transparent !important;
}
.markdown-section table tr td,
.markdown-section table tr th {
  border: 1px solid #e5e5e5 !important;
}
.markdown-section code {
  background-color: rgba(27,31,35,0.05) !important;
  color: var(--article-caption-color) !important;
}
.markdown-section pre {
  background-color: rgba(27,31,35,0.05) !important;
}
.markdown-section pre code {
  background-color: transparent !important;
  padding: 10px 0 !important;
}
