name: reference-mainnet

on:
  push:
    tags:
    - v*

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - uses: actions/checkout@v2 # without submodules

    - name: Build and upload to aliyun
      run: |
        docker login --username=${{ secrets.ALI_REPO_USER }} --password=${{ secrets.ALI_REPO_PASSWORD }} registry.ap-northeast-1.aliyuncs.com
        docker build -t registry.ap-northeast-1.aliyuncs.com/mcdex/mcdex-references:${{ steps.get_version.outputs.VERSION }} -f Dockerfile .
        docker push registry.ap-northeast-1.aliyuncs.com/mcdex/mcdex-references:${{ steps.get_version.outputs.VERSION }}
